annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
Brotli==1.1.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
distlib==0.3.8
distro==1.9.0
Django==5.2.1
django-browser-reload==1.18.0
django-tailwind==4.0.1
docstring_parser==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.2.2
filelock==3.15.4
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
future==1.0.0
gensim==4.3.3
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
humanfriendly==10.0
idna==3.10
imageio==2.36.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
llvmlite==0.43.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==10.5.0
mpmath==1.3.0
murmurhash==1.0.10
mutagen==1.47.0
networkx==3.4.2
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.36.1
openai-whisper @ git+https://github.com/openai/whisper.git@90db0de1896c23cbfaf0c58bc2d30665f709f170
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
outcome==1.3.0.post0
packaging==24.2
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
preshed==3.0.9
proto-plus==1.25.0
protobuf==5.28.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyMatting==1.1.12
pyodbc==5.2.0
pyparsing==3.2.0
pyperclip==1.9.0
pyphen==0.15.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
referencing==0.35.1
regex==2024.5.15
rembg==2.0.59
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
selenium==4.27.1
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.12.0
sqlparse==0.5.3
srsly==2.4.8
sympy==1.13.3
textblob==0.18.0.post0
textstat==0.7.4
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
torch==2.2.2
tqdm==4.66.4
trio==0.28.0
trio-websocket==0.11.1
tweepy==4.14.0
typer==0.12.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
vaderSentiment==3.3.2
virtualenv==20.26.3
wasabi==1.1.3
weasel==0.4.1
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
yt-dlp==2024.8.6
